/*CSS*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color: black;
}
.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 60px;
  color: white;
}
#carousel {

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}
ul {
  width: 4000px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  width: 800px;
  height: 600px;
  float: left;
}